@import url(/styles/header.css);

:root{
    --cor-de-fundo: #EBECEE;
    --branco:#FFFFFF;
    --roxo: #c75eeb;
    --amarelo: #fece2f;
    --preto: #000;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Jusefin Sans";
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}

h1{
    background-color: white;
}